<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyzq.salary.mapper.DeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tyzq.salary.model.Dept">
        <id column="id" property="id" />
        <result column="dept_name" property="deptName" />
        <result column="dept_script" property="deptScript" />
        <result column="pid" property="pid" />
        <result column="sort_num" property="sortNum" />
        <result column="full_path" property="fullPath" />
        <result column="full_name" property="fullName" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="create_time" property="createTime" />
        <result column="edit_id" property="editId" />
        <result column="edit_name" property="editName" />
        <result column="edit_time" property="editTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_name, dept_script, pid, sort_num, full_path, full_name, delete_flag, create_id, create_name, create_time, edit_id, edit_name, edit_time
    </sql>

</mapper>
