<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyzq.salary.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tyzq.salary.model.Menu">
        <id column="id" property="id" />
        <result column="menu_icon" property="menuIcon" />
        <result column="menu_description" property="menuDescription" />
        <result column="menu_name" property="menuName" />
        <result column="menu_path" property="menuPath" />
        <result column="menu_redirect" property="menuRedirect" />
        <result column="pid" property="pid" />
        <result column="sort_num" property="sortNum" />
        <result column="full_path" property="fullPath" />
        <result column="use_flag" property="useFlag" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="create_time" property="createTime" />
        <result column="edit_id" property="editId" />
        <result column="edit_name" property="editName" />
        <result column="edit_time" property="editTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_icon, menu_description, menu_name, menu_path, menu_redirect, pid, sort_num, full_path, use_flag, delete_flag, create_id, create_name, create_time, edit_id, edit_name, edit_time
    </sql>

    <!-- 根据管理员id查询所有菜单-->
    <select id="selectMenuListByAdminId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            menu m
        WHERE
            m.delete_flag = 0
            AND m.use_flag = 0
            AND m.id IN ( SELECT mr.menu_id FROM menu_role mr WHERE role_id = ( SELECT ar.role_id FROM admin_role ar WHERE admin_id = #{id,jdbcType=BIGINT} ) )
    </select>

    <!-- 根据普通用户id查询所有菜单-->
    <select id="selectMenuListByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            menu m
        WHERE
            m.delete_flag = 0
            AND m.use_flag = 0
            AND m.id IN ( SELECT mr.menu_id FROM menu_role mr WHERE role_id = ( SELECT ur.role_id FROM user_role ur WHERE user_id = #{id,jdbcType=BIGINT} ) )
    </select>
</mapper>
