<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyzq.salary.mapper.SalaryFlowBillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tyzq.salary.model.SalaryFlowBill">
        <id column="id" property="id" />
        <result column="application_code" property="applicationCode" />
        <result column="base_flow_config_id" property="baseFlowConfigId" />
        <result column="flow_code" property="flowCode" />
        <result column="application_type" property="applicationType" />
        <result column="salary_dept_id" property="salaryDeptId" />
        <result column="salary_dept_name" property="salaryDeptName" />
        <result column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
        <result column="application_status" property="applicationStatus" />
        <result column="handle_id" property="handleId" />
        <result column="handle_account" property="handleAccount" />
        <result column="handle_name" property="handleName" />
        <result column="user_salary_ids" property="userSalaryIds" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="create_time" property="createTime" />
        <result column="edit_id" property="editId" />
        <result column="edit_name" property="editName" />
        <result column="edit_time" property="editTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, application_code, base_flow_config_id, flow_code, application_type, salary_dept_id, salary_dept_name, role_id, role_name, application_status, handle_id, handle_account, handle_name, user_salary_ids, delete_flag, create_id, create_name, create_time, edit_id, edit_name, edit_time
    </sql>

</mapper>
